html,
body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right, #ffffff, #59d1e4);
    position: fixed;
    top: 0;
    height: 45px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, -2);
}

.active {
    background-color: bisque;
    color: #fff;
}

nav .logo {
    font-size: 1.rem;
    width: 30%;
    left: -35px;
    position: relative;
    top: -18px;
}
